.mobile-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 80px;
  background-color: #1e1e30;
  padding: 0px 10px;
}
.link {
  text-decoration: none;
}
.logo {
  font-family: Bree Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #f8fafc;
}
.india {
  color: #3b82f6;
}
.navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #1e1e30;
}
.toggle-button {
  display: none;
}
@media screen and (max-width: 600px) {
  .navBar {
    display: none;
  }
  .toggle-button {
    background-color: transparent;
    outline: none;
    border: none;
    display: flex;
    cursor: pointer;
  }
  .menuIcon {
    color: #f8fafc;
    width: 35px;
    height: 20px;
  }
}
.item {
  list-style: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #f8fafc;
  margin: 0px 16px;
}

.menu {
  background-color: #161625;
}
.navBarMenu {
  display: none;
}
@media screen and (max-width: 600px) {
  .navBarMenu {
    display: flex;
    background-color: transparent;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 15px;
    min-height: 10px;
  }
}
